<html>
<head>
</head>
<body>
	<div style="background-color: rgb(210,237,222,0.5);" id="footer" th:fragment="footer">
	      <footer class="page-footer font-small special-color-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <ul class="list-unstyled list-inline text-center">
      <li class="list-inline-item">
        <a class="btn-floating btn-fb mx-1">
          <i class="fab fa-facebook-f"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-tw mx-1">
          <i class="fab fa-twitter"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-gplus mx-1">
          <i class="fab fa-google-plus-g"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-li mx-1">
          <i class="fab fa-linkedin-in"> </i>
        </a>
      </li>
      <li class="list-inline-item">
        <a class="btn-floating btn-dribbble mx-1">
          <i class="fab fa-dribbble"> </i>
        </a>
      </li>
    </ul>
    <!-- Social buttons -->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright: Grupo2 @PVisual  Jujuy-Argentina
    <a href="https://campus.fi.unju.edu.ar"> Unju </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
          
<script type="text/javascript" src="webjars/jquery/3.5.1/jquery.min.js"></script>		
<script type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script type="text/javascript" src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</div>
</body>
</html>