<html>
<head>
</head>
<body>
<div id="modal" th:fragment="modal">
     <!-- Button trigger modal -->
<a  style="margin-left: 100px; width: 150px; margin-bottom: 10px; color: white;" type="submit" class="btn btn-info" data-toggle="modal" data-target="#exampleModalCenter">
  Detalles.
</a>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLongTitle">RESULTADO DE LA CONSULTA</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <h4 style="color: blue;" th:text =" ' Cantidad de personas con resultado Positivo : ' + ${cantidadPositivo} "></h4>
          <h4 style="color:red;" th:text =" ' Cantidad de personas con resultado Negativos : ' + ${cantidadNegativo} "></h4>
          <h4 style="color: green;" th:text =" ' Cantidad de personas testeadas : ' + ${cantidadTotal} "></h4>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Continuar</button>
      </div>
    </div>
  </div>
</div>
</div>
</body>
</html>