<html>
<head>
</head>
<body>
<div id="tablaConsultas" th:fragment="tablaConsultas">
<!-- Lista de usuarios-->
			<div class="table-responsive">
				<table id="userList"
					class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
						<tr>
						    <th scope="col">Registro-Barrio</th>
						    <th scope="col">Direccion Unidad</th>
							<th scope="col">DNI</th>
							<th scope="col">Nombres</th>
							<th scope="col">Apellido</th>
							<th scope="col">Resultado</th>
							<th scope="col">Fecha-Hora</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${listaPersonas}">
								<td th:text="${usuario.registroTesteo.id}+' : '+ ${usuario.registroTesteo.unidadHabitacional.barrio.nombre}"></td>
								<td th:text="${usuario.registroTesteo.unidadHabitacional.id}"></td>
								<td th:text="${usuario.documento}"></td>
								<td th:text="${usuario.nombres}"></td>
								<td th:text="${usuario.apellido}"></td>
								<td th:text="${usuario.resultadoTesteo}"></td>
								<td th:text="${usuario.registroTesteo.fechaHora}"></td>
						</tr>
					</tbody>
				</table>
			</div>
</div>
</body>
</html>