<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Buscar por barrio</title>
<link rel="stylesheet" href="../css/estilos.css">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<!--  DATATABLES -->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
	type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
	type="text/javascript"
	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

<script> $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})</script>

</head>
<body class="body-cons">
 <div th:insert="layout/headerCons :: headerCons"></div>
	<div style="text-align: center;" class="card-header">
	<h3> Buscar por Barrio </h3>
   </div>

<div style="width: 94%; margin-left: 3%; margin-right: 3%;">
   <div>
        <form style="width: 100%;"  th:object="${objetoConsulta}" th:action="@{/consulta}" method="POST"> 
         <div style="width: 100%;">
            <div class=row style="width: 100%">
               <div class="form-group">
					<label id="letraSeleccion"
						for="select">Selecione Barrio :
					</label>
                     <select th:field="${objetoConsulta.barrio}" required="required" style="margin-bottom: 20px;" id="select" th:name="barrio">
						<option value="">Seleccionar</option>
                        <option th:each="barrio : ${listaBarrios}"
                          th:value="${barrio.nombre}"
                          th:text="${barrio.nombre}">
                        </option>    
					</select>
                </div>
               <div class="form-group" style="margin-left: 60px">
                  <label class="control-label"> Fecha Inicial</label>
                     <input required="required" th:field="${objetoConsulta.time1}" type="datetime-local" class="form-control" />
                    <!--  <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span> -->
        
               </div>
               
               <div class="form-group" style="margin-left: 60px" >
                  <label class="control-label"> Fecha Final</label>
                     <input required="required" th:field="${objetoConsulta.time2}" type="datetime-local" class="form-control" />
                     <!-- <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                     </span> -->
        
               </div>
            
         </div>
         <div class="row">
           <input style="margin-left: 100px; width: 150px; margin-bottom: 10px;" type="submit" class="btn btn-primary" value="Buscar">
            <a class="btn btn-success" style="margin-left: 100px; width: 150px; margin-bottom: 10px;" href="consulta" role="button">ListarTodos</a>
            <div th:insert="layout/modal :: modal"></div>
         </div>
      </div>
      </form>
</div>
	
	<div class="card">
		
		<div class="card-body">
			<div th:insert="layout/tablaConsultas :: tablaConsultas"></div>
		</div>
	</div>
</div>
<div th:insert="layout/footer :: footer"></div>
</body>
<!-- Script para el datatable -->
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>
</html>