<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Busqueda Apellido</title>

<link rel="stylesheet" href="../css/estilos.css">
<link th:rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">
<!--  DATATABLES -->
<link
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet"
	href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript"
	src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript"
	src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<script th:src="@{/webjars/popper.js/1.16.0/popper.min.js}"
	type="text/javascript" src="webjars/popper.js/1.16.0/popper.min.js"></script>
<script th:src="@{/webjars/bootstrap/4.5.0/js/bootstrap.min.js}"
	type="text/javascript"
	src="webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body class="body-cons">
<div th:insert="layout/headerCons :: headerCons"></div>
<div style="text-align: center;" class="card-header">
	<h2> Buscar por Apellido </h2>
   </div>
   
   <div style="width: 94%; margin-left: 3%; margin-right: 3%;">
	<div style="width: 100%;">
        <div class=row style="width: 100%">
			<form th:object=${equipo} th:action="@{/consultaApellido}"
				method="POST">
				<div style="display: flex; text-align: center;">
					<div class="group">
						<label for="input">Apellido : </label> <input type="text"
							required="required" placeholder="ingrese apellido"
							th:name="apellidoConsu">
					</div>
					<input style="margin-left: 10px; margin-bottom: 10px;"
						type="submit" class="btn btn-primary" value="Buscar"> <a
						class="btn btn-success"
						style="margin-left: 15px; margin-bottom: 10px;"
						href="consultaApellido" role="button">ListarTodos</a>
					<div th:insert="layout/modal :: modal"></div>
				</div>
			</form>
</div>
		</div>
		<div class="card">
		<div class="card-body">
			<!-- <!-- Lista de usuarios-->
		<div class="tablaConsultas" th:insert="layout/tablaConsultas :: tablaConsultas"></div>
		</div>
		</div>

</div>
<div th:insert="layout/footer :: footer"></div>
</body>
<!-- Script para el datatable -->
<script>
$(document).ready(function(){
    $('#myTable').dataTable();
});
</script>

</html>