<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="ISO-8859-1">
<title>Busqueda Apellido</title>
<link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}">

<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

</head>
<body>
<div th:insert="layout/headerCons :: headerCons"></div>
	<div class="card">
		<div style="text-align: center;" class="card-header">
	<h1> Buscar por Apellido </h1>
	<div style="margin-left: 10%;">
   <form th:object=${equipo}  th:action="@{/consultaApellido}" method="POST">
  <div style="display: flex; text-align: center;" ><div class="group">
   <label for="input">Apellido : </label>
    <input type="text" required="required" placeholder="ingrese apellido" th:name = "apellidoConsu">
  </div>
  <input style="margin-left: 10px; margin-bottom:  10px;" type="submit" class="btn btn-primary" value="Buscar">
   <a class="btn btn-success" style="margin-left: 15px; margin-bottom: 10px;" href="consultaApellido" role="button">ListarTodos</a>
   <div th:insert="layout/modal :: modal"></div>
  </div>
</form>
</div>
    
		</div>
		
		<div class="card-body">
			<!-- <!-- Lista de usuarios-->
			<!--<div class="table-responsive">
				<table id="userList"
					class="table table-bordered table-hover table-striped">
					<thead class="thead-light">
						<tr>
							<th scope="col">DNI</th>
							<th scope="col">Nombres</th>
							<th scope="col">Apellido</th>
							<th scope="col">Resultado</th>
							<th scope="col">ID_RegistroTesteo</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="usuario : ${listaPersonas}">
								<td th:text="${usuario.documento}"></td>
								<td th:text="${usuario.nombres}"></td>
								<td th:text="${usuario.apellido}"></td>
								<td th:text="${usuario.resultadoTesteo}"></td>
								<td th:text="${usuario.registroTesteo}"></td>
						</tr>
					</tbody>
				</table>
			</div> -->
		<div th:insert="layout/tablaConsultas :: tablaConsultas"></div>
		</div>
	</div>


<div th:insert="layout/footer :: footer"></div>
</body>
</html>