@charset "ISO-8859-1";

*{
	margin: 2px;
	padding: 2px;
	
}

#cuerpoInicio{
	background: url("../img/coronavirus.jpg");
	background-size:100% 100%;
}

#select{
	background-color: rgb(255, 255, 224);
	
}

#letraSeleccion{
	margin-left: 30px;
    margin-bottom: 20px;
    background-color: rgb(245, 255, 250);
}

.body-cons{
	background: url("../img/fondoconsulta.jpg");
	background-size: 100% 100%;
}

.btn btn-danger navbar-btn{
	margin-right: 5px;
	color: white;
}

.logout{
	margin-right: 10px;
	color: white;
	float: right;
}

#tablaConsultas{
	background-color: white;
	border: 1px solid black;
}

.bodyRegistrador{
	background: url("../img/registrotesteo.jpg");
	background-size: 100% 100%;
	
}

#asideLogin{
	background-color: rgb(133, 193, 233, 0.1);
}


#tarjetaLogin{
	margin-top: 40px;
	border-radius: 10px 100px 10px 100px;
	background: rgb(133, 146, 158, 0.5);
	padding-top: 50px;
	
}

.bodyAdm{
	background: url("../img/fondocovid.jpg");
	background-size: 100% 100%;
}

#registroBarrio{
	border: 2px solid red; 
}

#cuerpoNoAutorizado{
	background: url("../img/fondosalud.jpg");
	background-size: 100% 100%;
}